@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Poppins:wght@350&display=swap');

:root {
    --PlaypenSans: 'Playpen Sans';
    --Poppins: 'Poppins';
}
html, body{
    margin: 0;
    height: 100%;
}

.page-1{
    background-image: url("asset/v1013-p-0009a.jpg");
    height: 95%;
    width: 100%;
    background-size: cover;
    margin: 0;

}

.bottom-page-1{
    width: 100%;
    height: 4%;
    position: absolute;
    top: 91.035%;
    background-image: linear-gradient(rgba(255,255,255, 4%),rgba(0,0,0, 45%), rgba(0,0,0, 89%));
}

.page-2{
    background-color: rgba(0,0,0, 92%);
    height: 45%;
    width: 100%;
}

.c-text{
    position: absolute;
    top: 18.5%;         
}

.container-img-pg1{
    position: absolute;
    top: 28%;
    right: 10.4%;
    rotate: 8deg;
}

.img-01{
    background-image: url("asset/test-png.png");
    background-size: cover;
    width: 22vw;
    height: 54vh;
    border: 1.5px dashed #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 7%);
    margin-top: -24px;
    margin-left: -65px;
}

.img-02{
    background-image: url("asset/test-png.png");
    background-size: cover;
    width: 22vw;
    height: 54vh;
    border: 1.5px solid #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 10%);
    margin-top: -24.5px;
    margin-left: -65px;
}

.img-03{
    background-image: url("asset/test-png.png");
    background-size: cover;
    width: 22vw;
    height: 54vh;
    border: 1.5px solid #112;
}

.m-right-pg1{
    margin-right: 8vw;
}

.m-left-pg1{
    margin-left: 8vw;
}

.m-top-pg1{
    margin-top: 8vh;
}

.title{
    font-family: 'Playpen Sans', cursive;
    font-size: 10rem;
    margin-bottom: 0;
}

.subtext{
    margin-top: 0;
    font-size: 2.32rem;
    margin-bottom: 1.4vh;
    font-family: 'Poppins',  sans-serif;
}

.paragraf{

    text-indent: 30px;
    width: 542px;
}