@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playpen+Sans:wght@500&family=Poppins:wght@300;500&display=swap');

:root {
    --PlaypenSans: 'Playpen Sans';
    --Poppins: 'Poppins';
    --lobster: 'Lobster';
}

html, body{
    margin: 0;
    height: 100%;
}

.page-1{
    background-image: url("asset/v1013-p-0009a.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;

}

.c-text{
    position: absolute;
    top: 18.5%;         
}

.container-img-pg1{
    position: absolute;
    top: 28%;
    left: 66%;
    rotate: 8deg;
}

.img-01{
    background-image: url("asset/des01.jpg");
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 510px;
    border: 2.1px dashed #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 7%);
    margin-top: -24px;
    margin-left: -65px;
}

.img-02{
    background-image: url("asset/des02.jpg");
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 510px;
    border: 1.5px solid #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 10%);
    margin-top: -24.5px;
    margin-left: -65px;
}

.img-03{
    background-image: url("asset/des03.jpg");
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 510px;
    border: 1.5px solid #112;
}


.fade{
    animation-name: fade;
    animation-duration: 3s;
    
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

.m-right{
    margin-right: 2vw;
}

.m-left-pg1{
    margin-left: 8vw;
}

.m-top{
    margin-top: 8vh;
}

.title{
    font-family: 'Playpen Sans', cursive;
    font-size: 10rem;
    margin-bottom: 0;
}

.subtext{
    margin-top: 0;
    font-size: 2.32rem;
    margin-bottom: 1.4vh;
    font-family: 'Poppins',  sans-serif;
}

.paragraf{
    text-indent: 30px;
    width: 542px;
}

/*Set ke 2
    
*/

.page-2{
    background-color: rgba(0,0,0, 92%);
    height: 45%;
    display: flex;
    align-items: center;
}

.change-page-2{
    background-image: linear-gradient(rgba(0,0,0, 92%),rgba(0,0,0, 65%)45%, rgba(235, 109, 80, 40%)75%,rgba(235, 109, 80, 80%)100%);
    animation: p 3s;
    animation-fill-mode: both;
}

@keyframes p {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.c-text-2{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 100px 100px;
}

.title-2{
    display: flex;
    justify-content: center;
    font-family: var(--PlaypenSans);
    font-size: 4.5rem;
    color: #fff;
    margin: 0;
}

.transisiTunggu{
    animation: tunggu 3s infinite alternate;
}

@keyframes tunggu {
    0%{
        opacity: 0;
    }
}

.animation-2{
    animation:batas .5s infinite step-end;
}

@keyframes batas {
    0% {
        border-right: 3px solid #fff;
    }
    50% {
        border-right: 3px solid transparent;
    }
}

.subtext-2{
    margin: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #fff;
    animation: transisi2 5s;
    text-align: center;
}

@keyframes transisi2 {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.none{
    display: none;
}

/*
    page ke 3 (body web)
*/

.page-3{
    display: block;
    height: calc(100vh + 80vh);
    background-image: linear-gradient(rgba(235, 109, 80, 80%)22%, rgba(255, 199, 135)80%);
}

.content-top{
    padding-top: 20vh;
    height: 100vh;
    position: relative;
}

.text-3{
    position: absolute;
    right: 5%;
    display: grid;
    justify-items: end;
    grid-template-rows: 85px auto;
    width: 900px;
}

.title-3{
    font-family: var(--lobster), sans-serif;
    font-size: 4.5rem;
    color: #eee;
    text-align: right;
    margin-top: 15vh;
    z-index: 9999;
}

.wadah-3{
    position: absolute;
    left: 5%;
}

.img-spesial, .img-down-3{
    position: absolute;
    background-image: url("asset/dessss-nobg-3.png");
    height: 670px;
    width: 490px;
    background-size: cover;
    background-position: center;
}


.img-down-3{
    position: relative;
}

.img-spesial{
    z-index: 2;
}

.name{
    font-family: var(--Poppins), sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    position: absolute;
    left: 97%;
    top: 68%;
    width: 340px;
    padding: 10px 4px;
    border-radius: 0 40px 40px 0;
    text-align: center; 
    z-index: 1;
}

.border-name{
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
}

.frame-1{
    text-align: center;
    display: grid;
    place-items: center;
    background-image: url("asset/72ppi/frame-1.png");
    background-size: cover;
    width: calc(211px * 1.8);
    height: calc(115px * 1.8);
    transform: rotate(-15deg);
    position: absolute;
    top: -15%;
    left: 74%;
    font-size: 2.1rem;
    font-family: var(--Poppins);
    color: #eee;
}

.frame-1 .word-1{
    background-color: #1a1a;
    padding: 0 10px;
    position: absolute;
    top: 28%;
    left: 30%;
}

.frame-1 .word-2{
    background-color: #E52B50;
    position: absolute;
    padding: 0 10px;
    top: 54%;
    left: 45%;
}

.frame-1 .subtext-1{
    color: #112;
    font-size: 1rem;
    position: absolute;
    top:65%;
    left: 25%;
}

.frame-1 .subtext-2{
    position: absolute;
    top: 30%;
    left: 29%;
    transform: rotate(12.5deg);
    animation: none;
}

.frame-2{
    background: url("asset/72ppi/frame-2.png");
    background-size: cover;
    width: calc(779px / 2.65);
    height: calc(778px / 2.65);
}

.frame-3{
    background-image: url("asset/72ppi/frame-3.png");
    background-size: cover;
    width: calc(867px / 1.5);
    height: calc(880px / 1.5);
}

/*
    setting display
*/

.frame-1, .frame-2, .frame-3{
    display: block;
}

/*
    Seting posisi asset
*/

.operator-3-0{
    z-index: 999;
}

.operator-3-1-1{
    z-index: 50;
}

.operator-3-2-1{
    position: absolute;
    top: -28%;
    left: 10%;
    transform: rotate(-25deg);
    opacity: 0.75;
    z-index: 40;
}

.operator-3-2-2{
    position: absolute;
    top: 7.5%;
    left: 68%;
    transform: rotate(20.4deg);
    opacity: 0.55;
    z-index: 39;
}

.operator-3-3-1{
    position: absolute;
    top: -25%;
    left: 30%;
    opacity: 0.225;
    z-index: 30;
}

.operator-3-3-2{
    position: absolute;
    top: 65%;
    left: 68%;
    opacity: 0.225;
    z-index: 29;
    transform: rotate(90deg);
}

.edit-ukuran-1{
    width: calc(867px / 3);
    height: calc(880px / 3);
}

.content-midle{
    height: 100vh;
}

.content-midle .title-3{
    margin-top: 8vh;
    font-size: 3rem;
    text-align: center;
}

@media (max-width:1366px) {
    
}

@media (max-width:768px) {
    
}

@media (max-width:450px) {
        .page-1{
            height: 140vh;
        }
        .c-text{
            top: 0%;
        }
        .title{
            font-size: 5rem;
            margin-bottom: 60vh;
        }
        .subtext{
            font-size: 1.92rem;
        }
        .paragraf{
            width: 85vw;
        }
        .container-img-pg1{
            top: 38vh;
            left: 36vw;
        }
        .img-01, .img-02, .img-03{
            width: 48vw;
            height: 37vh;
        }
        .img-01, .img-02{
            margin-left: -45px;
        }

        /*page 2*/

        .title-2{
            font-size: 1.92rem;
        }

        .subtext-2{
            font-size: 0.7rem;
            width: 85vw;
        }

}