@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Poppins:wght@350&display=swap');

:root {
    --PlaypenSans: 'Playpen Sans';
    --Poppins: 'Poppins';
}
html, body{
    margin: 0;
    height: 100%;
}

.page-1{
    background-image: url("asset/v1013-p-0009a.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;

}


.c-text{
    position: absolute;
    top: 18.5%;         
}

.container-img-pg1{
    position: absolute;
    top: 28%;
    left: 66%;
    rotate: 8deg;
}

.img-01{
    background-image: url("asset/des01.jpg");
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 510px;
    border: 2.1px dashed #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 7%);
    margin-top: -24px;
    margin-left: -65px;
}

.img-02{
    background-image: url("asset/des02.jpg");
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 510px;
    border: 1.5px solid #112;
    box-shadow: 25px 22px rgba(0, 0, 0, 10%);
    margin-top: -24.5px;
    margin-left: -65px;
}

.img-03{
    background-image: url("asset/des03.jpg");
    background-size: cover;
    background-position: center;
    width: 380px;
    height: 510px;
    border: 1.5px solid #112;
}

.fade{
    animation-name: fade;
    animation-duration: 3s;
    
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

.m-right-pg1{
    margin-right: 8vw;
}

.m-left-pg1{
    margin-left: 8vw;
}

.m-top-pg1{
    margin-top: 8vh;
}

.title{
    font-family: 'Playpen Sans', cursive;
    font-size: 10rem;
    margin-bottom: 0;
}

.subtext{
    margin-top: 0;
    font-size: 2.32rem;
    margin-bottom: 1.4vh;
    font-family: 'Poppins',  sans-serif;
}

.paragraf{
    text-indent: 30px;
    width: 542px;
}

/*Set ke 2*/

.page-2{
    background-color: rgba(0,0,0, 92%);
    height: 45%;
    display: flex;
    align-items: center;
}

.c-text-2{
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 100px 100px;
}

.title-2{
    display: flex;
    justify-content: center;
    font-family: var(--PlaypenSans);
    font-size: 4.5rem;
    color: #fff;
    margin: 0;
}

.animation-2{
    width: 38vw;
    animation: ketik 2s steps(40, end) forwards, batas .5s infinite step-end alternate;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes ketik {
    0% {
        width: 0;
    }
    1%, 99% {
        border-right: 3px solid #fff;
    }
    100% {
        border-right: none;
    }
}

@keyframes batas {
    0% {
        border-right: 3px solid #fff;
    }
    50% {
        border-right: 3px solid transparent;
    }
}

.subtext-2{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #fff;
}

.fade-2{
    animation-name: trasnsisi2;
    animation-delay: 4.53s;
    animation-duration: 5s;
}

@keyframes transisi2 {
    from {color: #112;}
    to {color: #fff;}
}

@media (max-width:1366px) {
    
}

@media (max-width:768px) {
    
}

@media (max-width:450px) {
        .page-1{
            height: 140vh;
        }
        .c-text{
            top: 0%;
        }
        .title{
            font-size: 5rem;
            margin-bottom: 60vh;
        }
        .subtext{
            font-size: 1.92rem;
        }
        .paragraf{
            width: 85vw;
        }
        .container-img-pg1{
            top: 38vh;
            left: 36vw;
        }
        .img-01, .img-02, .img-03{
            width: 48vw;
            height: 37vh;
        }
        .img-01, .img-02{
            margin-left: -45px;
        }

        /*page 2*/

        .title-2{
            font-size: 1.9rem;
        }

        .animation-2{
            width: 72vw;
        }
}